<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>

<link href="https://github.com/egegunes" rel="me">
<link href="mailto:egegunes@gmail.com" rel="me">

<link href="https://webmention.io/gunes.io/xmlrpc" rel="pingback" />
<link href="https://webmention.io/gunes.io/webmention" rel="webmention" />
